html{
    height: 770px;
    background-image: url(t017a38a91b20e0cb71.jpg)
}
body{
    width:100%
    height: 770px;
}

header{
    border-bottom: 2px solid cyan;
    width: 100%;
    height: 180px;
    background-color: cadetblue;
}
main{
    width: 100%;
    height: 546px;
}
footer{
    width: 100%;
    height: 215px;
    border-top: 2px solid cyan;
    background-color: cadetblue;
    float :right
}

#nav_menu ul{
    list-style:none;
    position: relative;
    margin: auto;
    padding-inline-start:55px;
    background-color: aliceblue;
}
#nav_menu ul li{
    float: left;
    width: 152px;
    height: 30px;
}
#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li{
    float: none;
}
#nav_menu ul li:hover>ul{
    display: block;
}
#nav_menu>ul::after{
    content: "";
    display: block;
    clear: both;
}
.dqa{
    list-style: none;
    border: 2px solid black;
}

